{% extends 'base.html.twig' %}

{% block title %}Edit Cnae{% endblock %}

{% block body %}
    <h1>Edit Cnae</h1>

    {{ include('cnae/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a href="{{ path('app_cnae_index') }}" class="btn btn-secondary">Voltar</a>

    {{ include('cnae/_delete_form.html.twig') }}
{% endblock %}
