{% extends 'base.html.twig' %}

{% block title %}New Segment{% endblock %}

{% block body %}
    <h1>Create new Segment</h1>

    {{ include('segment/_form.html.twig') }}

    <a href="{{ path('app_segment_index') }}" class="btn btn-secondary">Voltar</a>
{% endblock %}
